#startGame, #restartButton {
    font-family: 'Bebas Neue', sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.5);
    transition: transform 0.2s ease, background 0.2s ease;
    margin-top: -5%;
}

#restartButton {
    position: relative;
    margin-top: 120% !important;
}

#startGame:hover, #restartButton:hover {
    background: rgba(0, 0, 0, 0.9);
    transform: translateX(-50%) scale(1.3);
}

#pauseButton {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    transition: transform 0.2s;
    display: none;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
}

#pauseButton:hover {
    transform: scale(1.1);
}

.pause-bars {
    display: flex;
    gap: 5px;
    align-items: center;
}

.pause-bar {
    width: 4px;
    height: 20px;
    background-color: white;
} 